@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);

html,body{
  overflow-x: hidden;
}


/* fonts */
body{
	font-family: Lato, "Helvetica Neue", Arial, sans-serif;
	color: #333;
    font-size: 1.2em;
    line-height: 1.8em;
}
h1{
  font: 100px/120px "Francois One", Verdana, sans-serif;
  text-align: center;
  background-color: #000100;
  bottom: 0;
  width: 40%;
  color: #fff;
  clear: both;
  padding: 8px;
  border-bottom: 1px solid #fff;

}

h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.lead-description{
    width: 650px;
    margin: 0 auto;
    color: #000;
    background-color: #fff;
    padding: 10px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 19px;
    line-height: 300%;

}

.story{
  padding: 10px;
  font-family: 	font-family: Lato, "Helvetica Neue", Arial, sans-serif;

  font-weight: 600; 
}

/* CSS for hero image, either background photo or background video */
.hero{
  background-image: url("../assets/Pressing%20need.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}
.hero header{
  background-color:rgba(0,0,0,0.30);

}
.hero header > *{
  position: relative;
  z-index: 10;
}
.hero video{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 100vh;
  width: auto;
  z-index: 1 !important;
}
@media (min-aspect-ratio:16/9){
  .hero video{
    width: 100vw;
    height: auto;
  }
}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}

.headliner{
  width: 600px !important;
  height: 800;
  display: inline-block;
  
}

/* Sticky graphic */
.scroll-graphic{
  background-color:#000;
  z-index: -2;
}

.image-holder{
  background-image: url(../assets/morerestrooms/restroom-sign.jpg);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

